<!-- <ion-header>
    <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header> -->


<ion-header>
  <ion-navbar color="dark">
      <ion-title *ngIf="!isOn">    
          <button ion-button menuToggle="left" start>
          <ion-icon name="menu"></ion-icon>Tickets 
        </button></ion-title>
        <div id="search" class="search-button-star">
      <ion-searchbar *ngIf="isOn"  (ionCancel)="onCancel($event)" animated="true"></ion-searchbar>
    </div>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleDetails()">
            <ion-icon name="search"></ion-icon>
          </button>
    </ion-buttons>

    <button ion-button menuToggle="right" end>
        <ion-icon name="menu"></ion-icon> 
     </button>
     
  </ion-navbar>

</ion-header>



<ion-content>
    <ion-grid (click)="demo1()" tapable class="primary-content">
        <ion-item class="primary-content">
          <p>
            <ion-row>
              <ion-col>            
                  <p>Location Owner</p>
              </ion-col>
              <ion-col>            
                  <p>System Generated</p>
              </ion-col>             
            </ion-row>
            <ion-row>
                <ion-col>            
                    <p>Requested By</p>
                </ion-col>
                <ion-col>            
                    <p>Jack Daniel</p>
                </ion-col>             
              </ion-row>
              <ion-row>
                  <ion-col>            
                      <p>From Location</p>
                  </ion-col>
                  <ion-col>            
                      <p>System Generated</p>
                  </ion-col>             
                </ion-row>
                <ion-row>
                    <ion-col>            
                        <p>Priority</p>
                    </ion-col>
                    <ion-col>            
                        <p>System Generated</p>
                    </ion-col>             
                  </ion-row>
                  <ion-row>
                      <ion-col>            
                          <p>Haul Type</p>
                      </ion-col>
                      <ion-col>            
                          <p>Haul Out</p>
                      </ion-col>             
                    </ion-row>
                    <ion-row>
                        <ion-col>            
                            <p>Date</p>
                        </ion-col>
                        <ion-col>            
                            <p>12/11/2018</p>
                        </ion-col>             
                      </ion-row>
                      <ion-row>
                          <ion-col>            
                              <p>Status</p>
                          </ion-col>
                          <ion-col>            
                              <p class="balanced" style="color:chocolate">Approved</p>
                          </ion-col>             
                        </ion-row>
          </p>
        </ion-item>
      </ion-grid>
  
      <ion-grid (click)="demo1()" class="primary-content">
          <ion-item class="primary-content">
            <p>
              <ion-row>
                <ion-col>            
                    <p>Priority</p>
                </ion-col>
                <ion-col>            
                    <p>System Generated</p>
                </ion-col>             
              </ion-row>
              <ion-row>
                  <ion-col>            
                      <p>Priority</p>
                  </ion-col>
                  <ion-col>            
                      <p>System Generated</p>
                  </ion-col>             
                </ion-row>
                <ion-row>
                    <ion-col>            
                        <p>Priority</p>
                    </ion-col>
                    <ion-col>            
                        <p>System Generated</p>
                    </ion-col>             
                  </ion-row>
                  <ion-row>
                      <ion-col>            
                          <p>Priority</p>
                      </ion-col>
                      <ion-col>            
                          <p>System Generated</p>
                      </ion-col>             
                    </ion-row>
                    <ion-row>
                        <ion-col>            
                            <p>Priority</p>
                        </ion-col>
                        <ion-col>            
                            <p>System Generated</p>
                        </ion-col>             
                      </ion-row>
                      <ion-row>
                          <ion-col>            
                              <p>Haul Type</p>
                          </ion-col>
                          <ion-col>            
                              <p>Haul Out</p>
                          </ion-col>             
                        </ion-row>
                        <ion-row>
                            <ion-col>            
                                <p>Date</p>
                            </ion-col>
                            <ion-col>            
                                <p>12/11/2018</p>
                            </ion-col>             
                          </ion-row>
                          <ion-row>
                              <ion-col>            
                                  <p>Status</p>
                              </ion-col>
                              <ion-col>            
                                  <p class="balanced" style="color:chocolate">Approved</p>
                              </ion-col>             
                            </ion-row>
            </p>
          </ion-item>
        </ion-grid>

        <ion-grid class="primary-content">
            <ion-item class="primary-content">
              <p>
                <ion-row>
                  <ion-col>            
                      <p>Priority</p>
                  </ion-col>
                  <ion-col>            
                      <p>System Generated</p>
                  </ion-col>             
                </ion-row>
                <ion-row>
                    <ion-col>            
                        <p>Priority</p>
                    </ion-col>
                    <ion-col>            
                        <p>System Generated</p>
                    </ion-col>             
                  </ion-row>
                  <ion-row>
                      <ion-col>            
                          <p>Priority</p>
                      </ion-col>
                      <ion-col>            
                          <p>System Generated</p>
                      </ion-col>             
                    </ion-row>
                    <ion-row>
                        <ion-col>            
                            <p>Priority</p>
                        </ion-col>
                        <ion-col>            
                            <p>System Generated</p>
                        </ion-col>             
                      </ion-row>
                      <ion-row>
                          <ion-col>            
                              <p>Priority</p>
                          </ion-col>
                          <ion-col>            
                              <p>System Generated</p>
                          </ion-col>             
                        </ion-row>
                        <ion-row>
                            <ion-col>            
                                <p>Haul Type</p>
                            </ion-col>
                            <ion-col>            
                                <p>Haul Out</p>
                            </ion-col>             
                          </ion-row>
                          <ion-row>
                              <ion-col>            
                                  <p>Date</p>
                              </ion-col>
                              <ion-col>            
                                  <p>12/11/2018</p>
                              </ion-col>             
                            </ion-row>

                            <ion-row>
                                <ion-col>            
                                    <p>Status</p>
                                </ion-col>
                                <ion-col>            
                                    <p class="balanced" style="color:darkgreen">Completed</p>
                                </ion-col>             
                              </ion-row>
              </p>
            </ion-item>
          </ion-grid>
  
</ion-content>


