.requisition-content {
    background: rgb(60, 60, 60);
}

.primary-content {
    background: rgb(22, 21, 21);
}
.balanced{
   // color: #ff910063;
    element.style {
        color: burlywood;
    } 
}
 